.Chart {
  margin: 30px 0 0 0;
}

.Nav {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #ddd;
  
  &__item {
    padding: 10px;
  }

  select {
    background: #fff;
  }
}

.Alert {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd;
  
  &__item {
    padding: 10px;
    flex-grow: 1;
  }
}